html {
}
body {
  background: linear-gradient(#fc466b, #3f5efb);
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-panel {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  height: 70vh;
  width: 60vw;
}
.question-title {
  width: 60vw;
  height: 10vh;
  font-size: 3rem;
}
.choices {
  width: 60vw;
  height: 30vh;
  //background-color: red;
}
.option {
  text-decoration: none;
  border: 2px solid gray;
  border-radius: 7px;
  padding: 0.5rem;
  color: royalblue;
  transition: all 0.2s;
  &:hover {
    background-color: royalblue;
    color: white;
  }
}

.clicked {
  background-color: royalblue;
  color: white;
}

.hide {
  display: none;
}
